<div
  *ngFor="let item of transactions; let i = index"
  class="flex justify-between items-center p-4 mb-3 rounded-xl border border-gray-100 shadow-sm transition-all"
  [class.bg-green-50]="item.type === 'income'"
  [class.bg-red-50]="item.type === 'expense'"
>
  <div class="flex items-center space-x-3">
    <div>
      <p class="font-bold text-gray-800 capitalize">{{ item.category }}</p>

      <p
        class="text-[10px] text-gray-500 font-semibold uppercase tracking-wider"
      >
        {{ item.createdAt | date: "MMM d" }}
      </p>
    </div>
  </div>

  <div class="flex items-center space-x-4">
    <span
      [class.text-green-600]="item.type === 'income'"
      [class.text-red-600]="item.type === 'expense'"
      class="font-black text-lg"
    >
      {{ item.type === "income" ? "+" : "-" }}{{ item.amount | currency }}
    </span>

    <button
      (click)="openDeleteModal(item.id)"
      class="p-2 text-gray-400 hover:text-red-500 hover:bg-white rounded-full transition-colors cursor-pointer"
      title="Delete Transaction"
    >
      <svg
        class="w-5 h-5"
        fill="none"
        stroke="currentColor"
        viewBox="0 0 24 24"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          d="M19 7l-.867 12.142A2 2 0 0116.138 21H7.862a2 2 0 01-1.995-1.858L5 7m5 4v6m4-6v6m1-10V4a1 1 0 00-1-1h-4a1 1 0 00-1 1v3M4 7h16"
        />
      </svg>
    </button>
  </div>
</div>

<app-delete-modal
  [isOpen]="isDeleteModalOpen"
  (close)="isDeleteModalOpen = false"
  (confirmDelete)="onDeleteClick(itemToDeleteId)"
></app-delete-modal>
