<div
  *ngIf="isOpen"
  (click)="close.emit()"
  class="fixed inset-0 z-[100] flex items-center justify-center bg-black/60 backdrop-blur-sm p-4 animate-fade-in"
>
  <div
    (click)="$event.stopPropagation()"
    class="bg-white w-full max-w-sm rounded-2xl p-6 shadow-2xl animate-scale-in"
  >
    <div class="flex justify-between items-center mb-6">
      <h2 class="text-xl font-bold text-gray-800">New Transaction</h2>
      <button
        (click)="close.emit()"
        class="text-gray-400 hover:text-gray-600 transition"
      >
        <svg
          class="w-6 h-6"
          fill="none"
          stroke="currentColor"
          viewBox="0 0 24 24"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M6 18L18 6M6 6l12 12"
          />
        </svg>
      </button>
    </div>

    <div class="space-y-5">
      <div>
        <label
          class="text-[10px] font-bold text-gray-400 uppercase tracking-widest ml-1"
          >Description</label
        >
        <input
          #descInput
          type="text"
          placeholder="e.g. Rent, Salary, Coffee"
          class="w-full mt-1 px-4 py-3 bg-gray-50 border border-gray-100 rounded-xl focus:bg-white focus:ring-2 focus:ring-blue-500 outline-none transition-all"
        />
      </div>

      <div>
        <label
          class="text-[10px] font-bold text-gray-400 uppercase tracking-widest ml-1"
          >Amount</label
        >
        <input
          #amtInput
          type="number"
          placeholder="0.00"
          class="w-full mt-1 px-4 py-3 bg-gray-50 border border-gray-100 rounded-xl focus:bg-white focus:ring-2 focus:ring-blue-500 outline-none transition-all"
        />
      </div>

      <div class="flex space-x-3 pt-2">
        <button
          (click)="
            handleTransaction(descInput.value, amtInput.value, 'expense')
          "
          class="flex-1 bg-red-50 text-red-600 font-bold py-3 rounded-xl hover:bg-red-100 active:scale-95 transition-all"
        >
          Expense
        </button>
        <button
          (click)="handleTransaction(descInput.value, amtInput.value, 'income')"
          class="flex-1 bg-green-50 text-green-600 font-bold py-3 rounded-xl hover:bg-green-100 active:scale-95 transition-all"
        >
          Income
        </button>
      </div>
    </div>
  </div>
</div>
